<div class="paquete">
  <div class="form-group">

    <label for="username">Usuario</label>
    <br>
    <input type="text" class="form-control" id="username" required [(ngModel)]="registro.username" name="username" />
    <br>
    <label for="email">email</label>
    <br>
    <input type="email" class="form-control" id="email" required [(ngModel)]="registro.email" name="email" />
    <br>
    <label for="password">password</label>
    <br>
    <input type="password" class="form-control" id="password" required [(ngModel)]="registro.password" name="password" />
    <br>

    <button mat-raised-button color="primary" (click)="postRegistro(registro.username,registro.email,registro.password)">registrarse</button>
  </div>
  </div>
