form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    border: 2px solid rgb(2, 56, 231);
    border-radius: 25px;
}

mat-form-field {
    margin-top: 15px;
}