
<ul *ngIf="authenticated()">
  <li *ngFor="let tweet of tweetList">{{tweet.mensaje}}</li>

</ul>


<form *ngIf="!authenticated()" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="formulario" appearance="fill">
        <mat-label for="userName">Usuario</mat-label>
        <input matInput id="userName" type="text" formControlName="userName">

        <mat-error *ngIf="isInvalid('userName')" class="alert alert-danger">
            <div *ngIf="registerForm.controls['userName'].errors?.['required']">
                Se requiere el usuario
            </div>

            <div *ngIf="registerForm.controls['userName'].errors?.['minlength']">
                El nombre debe tener más de 4 caracteres
            </div>
        </mat-error>
    </mat-form-field>



    <mat-form-field class="formulario" appearance="fill">
        <mat-label for="userEmail">Email</mat-label>
        <input matInput id="userEmail" type="email" formControlName="userEmail">
        <mat-error *ngIf="isInvalid('userEmail')" class="alert alert-danger">
            <div *ngIf="registerForm.controls['userEmail'].errors?.['required']">
                Se requiere el email
            </div>
            <div *ngIf="registerForm.controls['userEmail'].errors?.['email']">
                El formato introducido no se corresponde con un email
            </div>
            <div *ngIf="registerForm.controls['userEmail'].errors?.['minlength']">
                El nombre debe tener más de 4 caracteres
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="formulario" appearance="fill">
        <mat-label for="userPassword">Contraseña</mat-label>
        <input matInput required id="userPassword" type="password" formControlName="userPassword">
    </mat-form-field>
    <span class="formulario"><button type="submit" [disabled]="!registerForm.valid"  mat-raised-button color="primary"  >Registrarse</button></span>

</form>
